@import url('https://fonts.googleapis.com/css2?family=Sono:wght@600&display=swap');
body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}
h1{
    font-size: 3.5vw;
    text-align: center;
    font-family: 'Sono', sans-serif;
}

table{
    width: 100%;
}
th, td {
    font-size: 2vw;
}
tr{
    display: grid;
    text-align: center;
    padding: 0;
    grid-template-columns: 22% 39% 39%;
    background-color: aqua;
    object-fit: cover;
}
.fn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f7027d;
}
p{
    text-align: center;
    overflow: hidden;
}